<div class="transacciones-layout">

  <!-- HEADER -->
  <div class="transacciones-header">
    <h2>Transacciones</h2>
    <button id="btnNuevaTransaccion" class="btn-secundario">
      + Nueva Transacción
    </button>
  </div>

  <!-- CARDS -->
  <div class="transacciones-cards">
    <div class="card fechas">
      <h3>Fechas consultadas</h3>
      <p id="fechasConsultadas">Todas</p>
    </div>
    <div class="card ingreso">
      <h3>Ingresos</h3>
      <p id="totalIngresos">$0</p>
    </div>
    <div class="card egreso">
      <h3>Egresos</h3>
      <p id="totalEgresos">$0</p>
    </div>
    <div class="card utilidad">
      <h3>Utilidad</h3>
      <p id="totalUtilidad">$0</p>
    </div>
  </div>

  <!-- FILTROS -->
  <div class="transacciones-filtros">
    <input type="date" id="fDesde">
    <input type="date" id="fHasta">

    <select id="fTipo"></select>
    <select id="fBanco"></select>
    <select id="fManifiesto"></select>

    <button id="btnEsteMes" class="btn-secundario">Ver este mes</button>
    <button id="btnMesAnterior" class="btn-secundario">Ver mes anterior</button>
    <button id="btnLimpiar">Limpiar</button>
  </div>

  <!-- TABLA -->
  <div class="transacciones-tabla scroll">
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Tipo</th>
          <th>Categoria</th>
          <th>Banco</th>
          <th>Manifiesto</th>
          <th>Valor</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody id="tablaTransacciones"></tbody>
    </table>
  </div>

</div>



<!-- MODAL -->
<div id="modalTransaccion" class="modal hidden">
  <div class="modal-content">

    <h3>Nueva Transacción</h3>

    <div class="form-group">
      <label>Tipo de transacción</label>
      <select id="tipo"></select>
    </div>

    <div id="formFields" class="form-grid">
    
      <div id="wrapManifiesto" class="form-group">
        <label>Manifiesto</label>
        <select id="manifiesto"></select>
      </div>

      <div class="form-group">
        <label>Banco</label>
        <select id="banco"></select>
      </div>

      

      <div class="form-group">
        <label>Valor</label>
        <input type="number" id="valor" placeholder="Valor">
      </div>

      <div class="form-group">
        <label>Fecha de pago</label>
        <input type="date" id="fecha">
      </div>

      <div class="form-group full">
        <label>Descripción</label>
        <textarea id="descripcion"></textarea>
      </div>

    </div>

    <button id="guardarTransaccion" class="btn-primary">Guardar</button>

  </div>
</div>
